
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Glegoo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}
h2 {
  font-size: 26px;
}
a:hover {
  text-decoration: none;
}
.section-heading {
  text-align: center;
  margin-bottom: 65px;
}
.section-heading p {
  font-size: 14px;
  font-weight: 300;
  color: #727272;
  line-height: 20px;
}
.title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.subtitle-des {
  color: #727272;
  font-size: 14px;
  margin-bottom: 35px;
  font-weight: 300;
}
.pages {
  padding: 80px 0 40px;
}
.moduler {
  padding: 140px 0;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #02bdd5;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar-header .navbar-brand {
  padding: 5px 0;
}
.navbar-header .navbar-brand a {
  height: auto;
  display: inline-block;
  margin-top: 8px;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle {
  background: #444;
}
#top-bar {
  background: #fff;
  color: #fff;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  padding: 15px 0;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dedede;
}
#top-bar .navbar-nav > li > a:hover {
  background: transparent;
}
#top-bar.animated-header {
  padding: 20px 0;
  background: #ffffff;
  box-shadow: none;
}
#top-bar .main-menu li > a {
  color: #444;
}
#top-bar .main-menu li {
  position: relative;
}
#top-bar .main-menu li a {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-transform: uppercase;
}
#top-bar .main-menu li a:hover {
  color: #9ed749;
}
.navbar-custom .nav li > a {
  position: relative;
  color: #000;
}
.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}
.navbar-custom .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
}

.title {
    background: #9ed749;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 0px;
    text-align: center;
    position: relative;
    color: #fff;
}

.titleName {
	text-transform: uppercase;
	text-align: left;
}

.img-fluid {
	max-width: 100%;
	max-height: 100%;
	margin-top: 5%;
	background-attachment: cover;
	display: block;
	width: 100%;
}

.container-fluid {
	margin-left: 2.5vw;
}

.bio {
	padding: 5%;
	font-size: 18px;
}

.projects, .book {
	margin-top: 20%;
	margin-left: 40%;
	font-size: 20px;
	color: white;
}

.book {
	background-color: #9ed749;
}

.projects {
	background-color: #4f4f4f;
	color: white;
}

.projects:hover {
	background-color: #2f2f2f;
	color: white;
}